*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;

}
body{
    background-color:khaki;
}
.encabezado{
    margin: 0 auto;
}
#cuerpo{
    width: 900px;
    height: 750px;
    background-color: cadetblue;
    border-radius: 50px;
    margin: 0 auto;
}
#cuestionario{
    align-items: center;
    width: 20%;
 margin: 0 auto;  
}
#btnCalcular{
    margin-left: 40px;
    
    padding-inline: 45px;
}
#btnregistro{
    margin-left: 2px;
    margin-left: 40px;
    padding-inline: 45px;
}
#btnBorrar{
    margin-left: 2px;
    margin-left: 40px;
    padding-inline: 53px;
}
select{
        padding-inline: 26px;
}

.pie{
text-align: center;
}